# Data
data/raw/
data/processed/

# Checkpoints (Large weights)
checkpoints/*.pth
!checkpoints/.gitkeep

# Outputs
outputs/*
!outputs/.gitkeep

# Python
__pycache__/
*.pyc

# Environment & Secrets
.env
.venv
venv/
env/

# OS Specific
.DS_Store

# IDEs
.vscode/
.idea/

# Reports (Optional - usually we want code, but if report is generated artifact, maybe ignore pdfs/aux/log)
*.pdf
*.log
*.aux
*.out
